/* Wishlist Section Styling */
.wishlist-container {
  width: 80%;
  margin: 1rem auto 3rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.product-card {
  margin: auto;
}

.product-card .img-container button {
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: white;
  border: none;
}

.img-container i {
  padding: 5px;
}

.img-container i:hover {
  background-color: var(--wishlist-hover-color);
  border-radius: 50%;
}

.ecommerce-btn {
  border-radius: 0;
}

.out-of-stock-btn {
  opacity: 0.7;
  cursor: auto;
}

.out-of-stock-btn:hover {
  background-color: var(--secondary-color);
}

.empty-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 230px);
}

.btn-link-products {
  cursor: pointer;
  background-color: var(--secondary-color);
  border-radius: 5px;
}

.btn-link-products:hover {
  background-color: var(--secondary-hover-color);
}

/* Responsive Styling Starts */
@media only screen and (max-width: 600px) {
  .product-card {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .product-card {
    width: 80%;
  }
}
