.nav-header .title-explore {
  width: 20rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title-explore .title {
  border-bottom: none;
}

.title-explore .explore-tab h3 {
  color: var(--secondary-color);
}

.menu-bar {
  cursor: pointer;
}

.user-controls {
  align-items: center;
}

.user-action {
  text-align: center;
}

.user-action .btn-user {
  cursor: pointer;
  padding: 0;
  font-size: 1.3rem;
}

.btn-user:hover {
  background-color: initial;
}

.user-action p {
  font-size: 1rem;
  color: var(--secondary-color);
}

.btn-check {
  cursor: pointer;
  text-align: center;
}

.btn-wishlist .count {
  top: -17%;
  right: 12%;
}

.btn-cart .count {
  top: -19%;
  right: -29%;
}

.hamburger-menu-open {
  position: fixed;
}

.user-profile {
  display: flex;
  gap: 0.5rem;
}

.page-routes li {
  cursor: pointer;
}

@media only screen and (max-width: 910px) {
  .nav-header {
    padding: 1rem 1rem 0 0;
  }

  .menu-bar {
    padding-left: 1rem;
    display: block;
    font-size: 1.5rem;
    color: var(--secondary-color);
  }

  .title {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .search {
    padding-left: 1rem;
    order: 1;
    width: 100%;
    border: none;
  }

  .input-search {
    margin-left: 0.5rem;
  }

  .btn-login {
    display: none;
  }

  .title-explore .explore-tab h3 {
    display: none;
  }

  .user-action {
    display: none;
  }

  .btn-check .count {
    top: -30%;
    right: -30%;
  }

  .btn-check p {
    display: none;
  }
}
