.profile-header .user-profile{
    display: flex;
    gap: 0.5rem;
}

.user-profile .user-name{
    align-self: flex-end;
    font-weight: 700;
}

@media only screen and (max-width: 750px){
    .desktop-userName{
        display: none;
    }
}
