/* Full Page After Navbar Styling*/
.filter-product-container {
  display: flex;
  gap: 1rem;
  width: 95%;
  margin: 1rem auto 3rem;
}

.filter-container {
  width: 18%;
  position: sticky;
  top: 0;
  height: fit-content;
}

.products-section {
  width: 82%;
}

.product-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

/* Filter Section Styling */
.filter-container .filter-close-btn {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--secondary-color);
  border: none;
  background-color: white;
  padding: 2px 5px;
}

.filter-clear-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-filters-btn:hover {
  background-color: white;
  color: var(--secondary-color);
  font-weight: 600;
}

.filter-type {
  margin: 1rem 0;
}

.filter-type-container {
  margin: 0.5rem 0;
}

.filter-type-container .slider {
  margin-top: 5px;
}

.filter-type-container label {
  cursor: pointer;
  margin-left: 5px;
}

.filter-type-container input {
  cursor: pointer;
}

.filter-type .slider-label {
  display: block;
}

.filter-type .slider {
  width: 70%;
}

/* Product Section Styling */
.products-count {
  margin: 0.5rem auto;
}

.products-count span {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.product-container .product-card {
  margin: 0;
  height: fit-content;
}

.product-card .img-container {
  cursor: pointer;
}

.product-card .img-container .card-badge {
  background-color: var(--danger-color);
}

.product-card .img-container i {
  color: var(--secondary-color);
  padding: 5px;
}

.product-card .img-container i:hover {
  background-color: var(--wishlist-hover-color);
  border-radius: 50%;
}

.product-card .card-details {
  margin-left: 0.5rem;
  align-items: flex-start;
}

.product-card .card-details .card-title {
  text-align: left;
}

.product-card .rating-container {
  margin: 0;
}

.product-card .rating-container i {
  font-size: 1rem;
  color: var(--warning-color);
}

.price-rating-container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ecommerce-btn {
  border-radius: 0;
}

.out-of-stock-btn {
  opacity: 0.9;
  cursor: auto;
}

.out-of-stock-btn:hover {
  background-color: var(--secondary-color);
}

.filter-mobile-container {
  display: none;
}

/* Empty Products Styling */
.empty-products {
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-products .empty-msg {
  color: var(--secondary-color);
  font-size: 2rem;
}

/* Pagination Styling */
.paginated-btns-container {
  grid-column: 1 / -1;
  margin: 1rem auto;
}

.paginate-btn {
  padding: 4px 8px;
  font-size: 1rem;
  font-weight: 700;
  margin: auto 0.5rem;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 0;
}

.paginate-btn:hover {
  background-color: var(--secondary-color);
}

.paginated-btns-container .paginate-btn-active {
  background-color: var(--secondary-color);
  color: white;
}

.paginate-direction {
  font-size: 1.2rem;
  background-color: white;
  border-width: 0;
  margin: 0;
  cursor: pointer;
}

.paginate-direction:hover {
  background-color: white;
}

/* Media Queries */
@media screen and (max-width: 920px) {
  .products-section {
    margin: auto;
  }

  .product-container .product-card {
    margin: auto;
  }

  .products-count {
    text-align: center;
  }

  .products-count span {
    display: block;
    margin-left: 0;
  }

  .filter-mobile-container {
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    position: sticky;
    transition: all 0.5s ease-in-out;
  }

  .filter-mobile-container .filter-open-btn {
    width: 100%;
    font-size: 1.2rem;
    color: var(--secondary-color);
    font-weight: 600;
    background-color: white;
    border: none;
    border-top: 1px solid var(--secondary-color);
    cursor: pointer;
    padding: 5px;
  }

  .filter-container {
    position: fixed;
    z-index: 2;
    background-color: white;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
  }

  .filter-container .filter-close-btn {
    display: block;
  }

  .active {
    transform: all 0.5s ease-in-out;
    transform: translateY(0);
  }

  .filter-type-container .slider {
    width: 50%;
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .product-card {
    width: 80%;
  }
}

@media only screen and (max-width: 560px) {
  .product-card {
    width: 60%;
  }
}

@media only screen and (max-width: 400px) {
  .product-card {
    width: 80%;
  }
}
