:root {
  --wishlist-hover-color: #f0e8e8;
  --toastify-color-info: #00a2ff;
  --toastify-color-success: #558d14;
  --toastify-color-warning: #ff9204;
  --toastify-color-error: #d61010;
}

#root {
  height: 100%;
}

.App {
  max-height: 100vh;
  height: 100%;
}

main {
  min-height: calc(100vh - 230px);
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-header {
  margin: 0;
}

.hamburger-menu {
  display: block;
}

.title i {
  font-size: 1.8rem;
}

.nav-title {
  font-size: 1.8rem;
}

.page-title {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

iframe {
  pointer-events: none;
}
